@{
    ViewData["Title"] = @ViewData["CityName"];
}

<h1>City: @ViewData["mCity"]</h1>
<h2>Country: @ViewData["mCountry"]</h2>
<h2>Temperature: @ViewData["mTemp"]</h2>
<h2>Pressure: @ViewData["mPress"]</h2>
<h3>Current Weather: @ViewData["mWeather"]</h3>

<style>
    body {
        background-image: url("images.jpg");
    }
</style>